%btn1 {
  padding: 5px 10px;
  outline: none;
  border: 1px solid $cl-rd;
  color: #000;
  background: none;
  height: 27px;
}

%mt-1 {
  margin-top: 1rem;
}

%mr-1 {
  margin-right: 1rem;
}

%m-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

%mt-2 {
  margin-top: 2rem;
}

%mb-1 {
  margin-bottom: 1rem;
}

%mb-2 {
  margin-bottom: 2rem;
}

%mt-3 {
  margin-top: 3rem;
}

%m-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

%mt-6 {
  margin-top: 6rem;
}

%p-1 {
  padding: 1rem;
}

%pt-3 {
  padding-top: 3rem;
}

%pr-2 {
  padding-right: 2rem;
}

%pb-3 {
  padding-bottom: 3rem;
}

%pt-4 {
  padding-top: 5rem;
}

%pb-4 {
  padding-bottom: 4rem;
}

%pl-1 {
  padding-left: 1rem;
}

%pr-1 {
  padding-right: 1rem;
}

%title-n {
  left: 50%;
  transform: translate(-5%, -145%);
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
}

%ol {
  outline: 1px solid $cl-bg-primary;
}

%bd {
  border: 1px solid $cl-bg-primary;
}

%bdgr {
  border: 1px solid $cl-rd;
}

%bdr {
  border-right: 1px solid $cl-rd;
}

%bdb {
  border-bottom: 1px solid $cl-rd;
}

%bdrdu {
  border-radius: 20px;
}

%title {
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 30rem;
}

%btn {
  border: none;
  background: #000;
  color: #fff;
  outline: none;
  padding: 5px 8px;
  cursor: pointer;
  transition: all .3s;
  height: 27px;

  &:hover {
    background: $cl-bg-primary;
  }
}