.header {
  height: 47rem;
  background-image: url('../images/slide-1-2050x898.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__navbar-top {
    height: 3.3rem;
    background: #b1d5e614;
    line-height: 3.1rem;

    &__main-navbar {
      @include display(row, center, space-between);

      &__narvar {
        @include display(row, center, flex-start);

        &__items {
          list-style: none;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          & a {
            font-size: 1.2rem;
            text-decoration: none;
            color: #fff;

            &:hover {
              text-decoration: underline;
              color: #e5ae42;
            }
          }
        }
      }
    }

    &__search {
      color: #b4bec3;
      font-size: 1.2rem;

      &>span {
        &>input[type='text'] {
          background: #ffffff00;
          border: none;
          outline: none;
          margin-left: 1rem;

          &:focus {
            color: #b4bec3;
            font-style: italic;
            font-weight: lighter;
          }

          &::placeholder {
            font-style: italic;
            font-size: 1.2rem;
          }
        }
      }

    }
  }

  &__title {
    color: $cl-rd;
    position: absolute;
    top: 50%;
    @extend %title;

    &>span {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
      font-weight: 900;
    }
  }

  &__title-n {
    color: $cl-rd;
    position: absolute;
    top: 50%;
    @extend %title-n;
  }
}