<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Project 1 (Sun*)
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Playfair+Display&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
body
  div.main
    include ./components/commons/__menuTop
  //- menu
  include ./components/commons/__menu
  //- content
  main.content
    include ./components/pages/blog/__blogDetail
  //- footer
  include ./components/commons/__footer