<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Project 1 (Sun*)
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Playfair+Display&display=swap")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    body
        header.main
            include ./components/commons/__menuTop
            include ./components/commons/__header
        //- menu
        include ./components/commons/__menu
        //- content
        main.content
            include ./components/pages/home/__introduce
            include ./components/pages/home/__highlight
            include ./components/pages/home/__newProduct
            include ./components/pages/home/__gallery
            include ./components/pages/home/__productSellsALot
            include ./components/pages/home/__others

            .main-popup#popupId
                .popup
                    .popup__img
                        img(src="./images/Layer 6@1X.png", alt="")
                    .popup__send-mail
                        h1.popup__title Gửi mail
                        p.popup__descriptions.
                            Đăng ký ngay Email hôm nay để nhận được thông tin về các sự kiện,
                            các chương trình giảm giá của chúng tôi sớm nhất!
                        .popup__f-sm
                            input(type="text")
                            button.popup__sm-b GỬI MAIL
                    .popup__close#removePopupId
                        i(class="fas fa-times")
            
            script
                include popup.js
        //- footer
        include ./components/commons/__footer
