<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Project 1 (Sun*)
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Playfair+Display&display=swap")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    body
        div.main
            include ./components/commons/__header
        //- menu
        include ./components/commons/__menu
        //- content
        main.content
            include ./components/pages/home/__introduce
            include ./components/pages/home/__highlight
            include ./components/pages/home/__newProduct
            include ./components/pages/home/__gallery
            include ./components/pages/home/__productSellsALot
            include ./components/pages/home/__others
        //- footer
        include ./components/commons/__footer
