section.introduce
  img(src="./images/background1.jpg", alt="" class="introduce__bg1")
  img(src="./images/background1.jpg", alt="" class="introduce__bg2")
  header.introduce__intro.container
    div.main-title-tl
      h1.main-title-tl__tt GIỚI THIỆU
      span.introduce__intro__title__eff
        img(src="./images/title-dark.png", alt="")
    p.introduce__intro__content.
      A beam of pure blackberry runs through this otherwise dense and focused red. Shows elegance, with balance and complexity, but needs time to integrate and reveal all its facets. Offers fine, minerally length. Sangiovese and Merlot. Best from 2021 through 2032”A beam of pure blackberry runs through this otherwise dense and focused red. Shows elegance, with balance and complexity, but needs time to integrate and reveal all its facets. Offers fine, minerally length. Sangiovese and Merlot. Best from 2021 through 2032”A beam of pure blackberry runs through this otherwise dense and focused red. Shows elegance, with balance and complexity, but needs time to integrate and reveal all its facets. Offers fine, minerally length. Sangiovese and Merlot. Best from 2021 through 2032”
    button.introduce__intro__show-more XEM THÊM