include ../mixin/__product
      
section.new-product
  div.product.container
    div.main-title-tl
      div.main-title-tl__tt SẢN PHẨM MỚI
      div.main-title-tl__eff
        img(src="./images/title-dark.png", alt="")
    div.product__pro
      include ../../../dbs/__newProductsDB
      input(type="radio" name="r" id="r1" checked)
      input(type="radio" name="r" id="r2")
      .product__box-pro1
        +product(products)
      .product__box-pro2
        +product(products11)
      .product__box-arrow
        label(for="r1").product__sl-arrow-l &#8592;
        label(for="r2").product__sl-arrow-r &#8594;
    