mixin productSellsAlot(products)
  for p in products
    div.product__items
      div.product__photo
        img(src=`./images/${p.photo}` alt="")
      div.product__title= p.title.toUpperCase()
      div.product__price
        span.product__price-sale= p.priceSale
        span  - 
        span.product__price-not-sale
          strike= p.priceNotSale
      button.product__add-to-cart ADD TO CART
      
section.new-product
  div.product.container
    div.main-title-tl
      div.main-title-tl__tt SẢN PHẨM QUAN TÂM
      div.main-title-tl__eff
        img(src="./images/title-dark.png", alt="")
    div.product__pro
      include ../../../dbs/__newProductsDB1
      input(type="radio" name="r1" id="r3" checked)
      input(type="radio" name="r1" id="r4")
      .product__box-pro1
        +productSellsAlot(products2)
      .product__box-pro2
        +productSellsAlot(products3)
      .product__box-arrow
        label(for="r3").product__sl-arrow-l &#8592;
        label(for="r4").product__sl-arrow-r &#8594;
      