-
  const cart = [
    {photo: "2.jpg", name: "RƯỢU VANG ĐỎ", price: "345.000", amount: "1", total: "345.000"},
    {photo: "2.jpg", name: "RƯỢU VANG ĐỎ", price: "345.000", amount: "1", total: "345.000"},
    {photo: "2.jpg", name: "RƯỢU VANG ĐỎ", price: "345.000", amount: "1", total: "345.000"},
    {photo: "2.jpg", name: "RƯỢU VANG ĐỎ", price: "345.000", amount: "1", total: "345.000"}
  ]