- const mgItems1 = ["TRANG CHỦ", "RƯỢU VANG ĐỎ", "RƯỢU TRẮNG", "CHAMPAGNE", "THÔNG TIN", "BLOG", "LIÊN HỆ"]
-
  const mgItems2 = {
    "RƯỢU NGOẠI": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ],
    "RƯỢU VANG": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ],
    "RƯỢU QUÝ": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ]
  }