-
  const products = 
  [
    {title: "rượu vang đà lạt", priceSale: "370.000", priceNotSale: "450.000", status: "Sale", photo: "10.jpg"},
    {title: "rượu vang đà lạt", priceSale: "370.000", priceNotSale: "450.000", status: "New", photo: "10.jpg"},
    {title: "rượu vang đà lạt", priceSale: "370.000", priceNotSale: "450.000", status: "Hot", photo: "10.jpg"},
    {title: "rượu vang đà lạt", priceSale: "370.000", priceNotSale: "450.000", status: "Sale", photo: "10.jpg"}
  ]