-
  const news = [
    {
      title: "VANG THĂNG LONG CLASSIC",
      time: "Đăng bởi Giangle | 30/06/2019 | 60 bình luận",
      descriptions: "A beam of pure blackberry runs through this otherwise dense and focused red. Shows elegance, with balance and complexity, but needs time to integrate and reveal all its facets",
      photo: "Layer 41@1X.png"
    },
    {
      title: "VANG THĂNG LONG CLASSIC",
      time: "Đăng bởi Giangle | 30/06/2019 | 60 bình luận",
      descriptions: "A beam of pure blackberry runs through this otherwise dense and focused red. Shows elegance, with balance and complexity, but needs time to integrate and reveal all its facets",
      photo: "Layer 41@1X.png"
    }
  ];