-
  const productsDB2 = 
  [
    {title: "rượu vang đà lạt", price: "370.000", description: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.", photo: "10.jpg"},
    {title: "rượu vang đà lạt", price: "370.000", description: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.", photo: "11.jpg"},
    {title: "rượu vang đà lạt", price: "370.000", description: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.", photo: "3.jpg"},
    {title: "rượu vang đà lạt", price: "370.000", description: "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.", photo: "14.jpg"}
  ]