-
  const productDB = {
    "RƯỢU NGOẠI": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ],
    "RƯỢU VANG": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ],
    "RƯỢU QUÝ": [
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo",
      "Rượu Chivas",
      "Rượu độc đáo"
    ]
  }