mixin list(items)
  for item in items
    li.navbar-top__main-navbar__narvar__items
      a(href="#")= item
      
nav.navbar-top
  div.navbar-top__main-navbar.container
    ul.navbar-top__main-navbar__narvar
      - const items = ["Tài khoản của tôi", "-", "Trạng thái đơn hàng", "-", "Danh sách ưu thích", "-", "Giỏ hàng", "-", "Đăng nhập", "-", "Đăng ký"]
      +list(items)
    div.navbar-top__search
      span |
        input(type="text" placeholder="Tìm kiếm ở đây...")
        <i class="fas fa-search"></i>